/* variables.css */


:root {
    --background-color: #04001f;
    --text-color: #ffffff;
    --second-text-color: #ffffff;
    ---icons-color: #ff00fc;
    --bg-color: rgba(241, 176, 206, 0.5);
    --teste:#960099

}