@import './utils/variables.css';

.App .container-app{
  background-color: var(--background-color);
  max-width: 1140px;
  margin: 0 auto;
}

.App .container-app h1{
  font-family: "Dela Gothic One", sans-serif;
  font-size: 32px;
}

.App .container-app h2{
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 28px;

}

.App .container-app h3,h4,p,li,a{
  font-family: "Belleza", sans-serif;
  font-size: 18px;
}

@media (max-width: 768px) {
  .App .container-app h1{
    font-size: 24px;
  }

  .App .container-app h2{
    font-size: 22px;
  }

  .App .container-app h3,h4,p,li,a{
    font-size: 14px;
  }

  .App .container-app img{
    width: 150px !important;
  }

}
